:root {
  --color-primary: #FF9F1C;
  --color-secondary: #2EC5B6;
  --color-bg-dark: #181820;
  --color-bg-card: #252837;
  --color-text: #FFFFFF;
  --color-text-muted: #9C9CAE;
  --font-primary: "Kay Pho Du", serif;
  --color-border: #2E313F;
}

.mainContent {
  margin-left: 250px;
  flex: 1;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  min-width: 0;
}

/* HEADER */

.headerList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.headerList h1 {
  font-size: 2rem;
  color: var(--color-text);
  margin-bottom: .5rem;
}

.headerList p {
  color: var(--color-text-muted);
  font-size: .9rem;
}

/* PESQUISA */

.searchBar {
  display: flex;
  align-items: center;
  background: var(--color-bg-dark);
  border: 1px solid var(--color-border);
  border-radius: 10px;
  padding: 10px 16px;
  gap: 10px;
  width: 350px;
}

.searchBar img {
  width: 18px;
  height: 18px;
  opacity: .8;
}

.searchBar input {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  width: 100%;
  font-size: .95rem;
}

.searchBar input::placeholder {
  color: var(--color-text-muted);
}

/* GRID */

.movieGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(180px,1fr));
  gap: 24px;
}

/* MENSAGENS */

.statusMsg {
  color: var(--color-text-muted);
  text-align: center;
  padding: 50px;
}

.categoriesList {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.categoryPill {
  background-color: var(--color-bg-card);
  color: var(--color-text-muted);
  padding: 8px 20px;
  border-radius: 20px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: 0.3s;
}

.categoryPill:hover {
  background-color: #292a36;
  color: var(--color-text);
}

.categoryPill.active {
  background-color: var(--color-primary);
  color: var(--color-bg-dark);
  font-weight: bold;
}

.tmdbAttribution {
  margin-top: 3rem;
  padding-top: 1.5rem;
  border-top: 1px solid #292a36;
}

.tmdbAttribution p {
  color: #6b6b76;
  font-size: 0.75rem;
  text-align: center;
}